train_data_ads.csv
train_data_feeds.csv

.project/*
!.project/spec.yaml
!.project/configpacks

.DS_Store
.envrc
.venv

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints
.Trash-*/
.jupyter/
.local/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

data/scratch/*
!data/scratch/.gitkeep
